@import './vars';
@import './reset';

@import './pages/index';
@import './pages/about';

@import './parts/chat';

.container {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
