@import './vars';
@import './reset';

@import './pages/index';
@import './pages/about';

nav {
  display: flex;
  justify-content: center;
}
nav a {
  margin: 10px;
}
.container {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;

}
